<!DOCTYPE html>
<html>
<head>
  <title>Fooshbowl</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="crest">
    <img src="/assets/crest.png" />
  </div>

  <div id="wrap">
    <%= yield %>
  </div>
</body>
</html>
